name: Upload Python Package

on:
  release:
    types:
      - created
      - published
      - edited
      - deleted


jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.8"
      - name: Set up Node.js and Yarn
        uses: actions/setup-node@v3
        with:
          node-version: '14'
          registry-url: 'https://registry.yarnpkg.com/'

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel twine
      - name: Install dependencies
        run: |
          yarn

      - name: Build
        run: |
          npm run build
        working-directory: st_tiny_editor/frontend
      - name: Build and publish
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          pwd
          python setup.py sdist bdist_wheel
          twine upload dist/*
